.fp-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.fp-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-primary-strong);
}

#title {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    font-weight: 500;
}

.fp-container form {
    padding: 30px 0 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-items>label {
    font-size: 14px;
    color: var(--color-dark-strong);
}

.fp-container input {
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    padding: 12px 12px;
    margin-top: 5px;
}

.fp-button {
    width: 100%;
    padding: 12px;
    margin-top: 24px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fp-link {
    color: var(--color-light-gray);
}

.result-message {
    margin-top: 16px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    font-weight: 500;
    display: none;
}

.result-message {
    background-color: #fef2f2;
    color: #e14345;
}